/* src/App.css */
.tarjeta-mapa {
    background-image: url('./assets/fondocard.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    position: relative;
    color: white; /* Esto es para asegurarte de que el texto sea blanco */
  }
  
  .tarjeta-mapa::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente negro para mejorar el contraste */
    z-index: 1;
  }
  
  .tarjeta-mapa > * {
    position: relative;
    z-index: 2;
  }